{{input type="text" value=daysInput }}
{{input type="text" value=dataInput }}

<tl>
	<td>Moving Average:</td>
	<td>{{movingAverage}}</td>
</tl>

<tl>
	<td>Exponential Moving Average:</td>
	<td>{{exponentialMovingAverage}}</td>
</tl>

{{! time-series-chart
        barData=[]
        lineData=exponentialMovingAverage
        selectedInterval=1
        selectedSeedColor=selectedSeedColor
        barPadding=10
        barGroupPadding=10
        barLeftOffset=0
        maxNumberOfLabels=10
        yAxisFromZero=false
        dynamicXAxis=false
        hasXAxisTitle=true
        hasYAxisTitle=true
        xValueDisplayName=1
        yValueDisplayName=1
        xTitleHorizontalOffset=1
        yTitleVerticalOffset=1
      }}